// TOOLBAR
.maputnik-toolbar {
  position: fixed;
  height: $toolbar-height;
  width: 100%;
  z-index: 100;
  left: 0;
  top: $toolbar-offset;
  background-color: $color-black;
  padding: 0 20px 0 5px;
}

.maputnik-toolbar-logo {
  width: 250px;
  text-align: left;
  background-color: $color-black;
  padding: $margin-1;
  height: $toolbar-height;

  h1 {
    display: inline;
  }

  img {
    height: 38px;
    width: auto;
    padding-left: $margin-3;
    padding-right: $margin-3;
    vertical-align: top;
  }
}

.maputnik-toolbar-link {
  vertical-align: top;
//  height: $toolbar-height;
  display: inline-block;
  padding: ($margin-2 + $margin-3) / 2;
  font-size: 13px;
  cursor: pointer;
  color: $btn-secondary-color;
  text-decoration: none;
  font-weight: 600;
}

.maputnik-toolbar-action {
  @extend .maputnik-toolbar-link;
  padding: $margin-3;
  vertical-align: middle;
  line-height: 24px;
  text-transform: uppercase;
  padding: 7px 8px 6px 8px;
  margin: 11px 6px;
  background: $btn-secondary-bg;
  line-height: 1;
  border-radius: 4px;

  svg {
    margin: 0 3px 3px 0;
  }
}

.maputnik-icon-text {
  padding-left: $margin-1;
}

.maputnik-icon-action {
  display: inline;
  margin-left: $margin-1;
}

.maputnik-toolbar-logo {
  flex: 0 0 140px;
}

.maputnik-toolbar__inner {
  display: flex;
}

.maputnik-toolbar__actions {
  white-space: nowrap;
  flex: 1;
  overflow-y: auto;
  text-align: right;
}
